{% extends 'base.html' %}
{% load static %}


{% block styles %}
<style>
    .font-custom {
        font-weight: bold;
    }
</style>
{% endblock styles %}


{% block content %}
<main>
    <div>
        <section class="row mx-auto max-90" style="margin-top: 9em;">
            <div class="col-lg-2 ms-auto">
                <a href="#" id="go_to_practice">Ir a la practica</a>
            </div>
        </section>
    </div>

    <div id="target1">
        <section class="row mx-auto max-90">
            <div class="col-lg-12">
                <h3 class="fw-bolder">Módulo 3: Variables</h3>
            </div>
        </section>
        <section class="row mx-auto max-90">
            <div class="col-lg-6 col-12" style="margin-top: 2em;">
                <p class="text-start">
                    Al igual que en cualquier otro lenguaje de programación, se pueden asignar valores a
                    variables, que luego pueden ser utilizadas en expresiones para representar ese valor.
                    Sin embargo, en fuerte contraste con la mayoría de los lenguajes conocidos, las variables en ML
                    no varían. Un valor puede estar ligado a una variable usando una construcción llamada
                    vinculación de valores. Una vez que una variable está ligada a un valor, queda ligada a él de por
                    vida.
                    no hay posibilidad de cambiar el enlace de una variable una vez que ha sido enlazada.
                    una variable una vez que ha sido vinculada. En este sentido, las variables en ML son más parecidas a
                    las variables en
                    matemáticas que a las variables de lenguajes como C.
                    Un tipo también puede estar ligado a un constructor de tipo utilizando un enlace de tipo.
                    Un constructor de tipo ligado representa el tipo ligado a él, y nunca puede
                    puede representar cualquier otro tipo. Por esta razón, un enlace de tipo se llama a veces
                    una abreviatura de tipo - el constructor de tipo representa el tipo al que está
                    vinculado
                </p>

            </div>
            <div class="col-lg-5 col-12 content-images text-center">
                <img src="{% static 'images/m3/declaraciones_main.png' %}" style="width: 70%;" alt="">
            </div>
            <div class="col-lg-12 col-12">
                <p class="text-start">
                    Una vinculación de valores o tipos introduce una "nueva" variable o constructor de tipos, distinta
                    de todas las demás de esa clase, para su uso dentro de su rango de significación, o ámbito. El
                    alcance en ML es estático, o léxico, lo que significa que el rango
                    de significado de una variable o constructor de tipo está determinado por el texto del programa, no
                    por el orden de evaluación de sus expresiones constitutivas.
                    (Los lenguajes con ámbito dinámico adoptan la convención opuesta.
                    Por el momento, las variables y los constructores de tipos tienen alcance global, lo que significa
                    que el rango de significación de la variable o del constructor de tipos es el "resto" del programa
                    del programa - la parte que sigue léxicamente al enlace. Sin embargo,
                    pronto introduciremos mecanismos para limitar los ámbitos de las variables o
                    constructores de tipo a una expresión determinada
                </p>
            </div>
            <div class="col-lg-12 col-12 text-center" style="margin: 3em 0em;">
                <a href="#" class="btn btn-danger next" data-btn="1">
                    Siguiente <img class="ml-2" src="{% static 'images/iconos/next.png' %}" alt="">
                </a>
            </div>
        </section>
    </div>

    <div id="target2" class="desactivate">
        <section class="row mx-auto max-90">
            <div class="col-lg-12">
                <h3 class="fw-bolder">3.2: Fijaciones básicas</h3>
            </div>
        </section>
        <section class="row mx-auto max-90">
            <div class="col-lg-6 col-12" style="margin-top: 2em;">
                <p class="text-start">
                    Se puede dar un nombre a cualquier tipo utilizando un enlace de tipo. En este momento tenemos
                    tipos que es difícil justificar la vinculación de los nombres de los tipos a los identificadores,
                    pero
                    lo haremos de todos modos porque lo necesitaremos más adelante. Aquí hay algunos ejemplos de
                    vinculaciones de tipos:
                </p>
                <pre id="explain_code">
                    <code class="language-vb">    type float = real
    type count = int and average = real
                    </code>
                </pre>

            </div>
            <div class="col-lg-5 col-12 content-images">
                <p class="text-start">
                    no tiene sentido (de forma aislada) ya que los constructores de tipo float y average
                    se introducen simultáneamente, y por tanto no pueden referirse el uno al otro.
                    La sintaxis de los enlaces de tipo es:
                </p>
                <pre id="explain_code">
                    <code class="language-vb">    type tycon1 = typ1
    and ...
    and tyconn = typn
                    </code>
                </pre>
                <p>
                    donde cada <span class="font-custom">tyconi</span>
                    es un constructor de tipo y cada <span class="font-custom">typi</span>
                    es una expresión de tipo
                </p>
            </div>
            <div class="col-lg-6 col-12">
                <p>
                    El primer enlace de tipo introduce el constructor de tipo float, que posteriormente es sinónimo de
                    real. El segundo introduce dos constructores de tipo, count y average, que son sinónimos de int y
                    real, respectivamente.
                    En general, un enlace de tipo introduce uno o más constructores de tipo nuevos simultáneamente en el
                    sentido de que las definiciones de los constructores de tipo
                    pueden no implicar ninguno de los constructores de tipo que se definen. Así, un enlace como
                </p>
                <pre id="explain_code">
                    <code class="language-vb">    type float = real and average = float
                    </code>
                </pre>
            </div>
            <div class="col-lg-12 col-12 text-center" style="margin: 3em 0em;">
                <a href="#" class="btn btn-danger next" data-btn="2">
                    Siguiente <img class="ml-2" src="{% static 'images/iconos/next.png' %}" alt="">
                </a>
            </div>
        </section>
    </div>

    <div id="target3" class="desactivate">
        <section class="row mx-auto max-90">
            <div class="col-lg-12">
                <h3 class="fw-bolder">3.2.2: Fijación de valores</h3>
            </div>
        </section>
        <section class="row mx-auto max-90">
            <div class="col-lg-6 col-12" style="margin-top: 2em;">
                <p class="text-start">
                    Se puede dar un nombre a un valor utilizando un enlace de valor. He aquí algunos ejemplos
                <pre>
                    <code class="language-vb">  val m : int = 3+2
  val pi : real = 3.14 and e : real = 2.17
                    </code>
                </pre>
                El primer enlace introduce la variable <span class="font-custom">m</span>, especificando que su tipo es
                <span class="font-custom">int</span>
                y su valor es 5. La segunda introduce simultáneamente dos variables, <span class="font-custom">pi</span>
                y <span class="font-custom">e</span>, ambas de tipo <span class="font-custom">real</span>, y con
                <span class="font-custom">pi</span> de valor 3,14 y
                <span class="font-custom">e</span> tiene un valor de 2,17. Obsérvese que un enlace de valor especifica
                tanto el tipo
                y el valor de una variable. <br>
                La sintaxis de los enlaces de valores es:
                </p>
                <pre>
                    <code class="language-vb">  val var1 : typ1 = exp1
  and ... 
  and varn : typn = expn
                    </code>
                </pre>
                <p>
                    donde cada <span class="font-custom">vari</span>
                    es una variable, cada <span class="font-custom">typi</span>
                    es una expresión de tipo, y cada <span class="font-custom">expi</span>
                    es una expresión.
                    Un enlace de valor de la forma:
                </p>
                <pre>
                    <code class="language-vb">  val var : typ = exp
                    </code>
                </pre>
                <p>
                    se comprueba el tipo asegurando que la expresión <span class="font-custom">exp</span> tiene el tipo <span class="font-custom">typ</span>. Si no es así
                    el enlace se rechaza por estar mal formado. Si es así, el enlace se evalúa utilizando
                    la regla de vinculación por valor: primero se evalúa <span class="font-custom">exp</span> para obtener su valor <span class="font-custom">val</span>, luego <span class="font-custom">val</span> se vincula a <span class="font-custom">var</span>.
                    Si <span class="font-custom">exp</span> no tiene un valor, la declaración no vincula nada a la variable <span class="font-custom">var</span>.
                    <br>
                    <br>
                    El propósito de un enlace es hacer que una variable esté disponible para su uso dentro de
                    su ámbito. En el caso de un enlace de tipo, podemos utilizar la variable de tipo introducida por ese enlace en expresiones de tipo que se produzcan dentro de su ámbito. En
                    ejemplo, en presencia de los enlaces de tipo anteriores, podemos escribir:
                </p>
                <pre>
                    <code class="language-vb">  val pi : float = 3.14
                    </code>
                </pre>
            </div>
            <div class="col-lg-5 col-12 content-images" style="margin-top: 2em;">
                <p>
                    ya que el constructor de tipo <span class="">float</span> está ligado al tipo real, el tipo de la
                    expresión 3.14. Del mismo modo, podemos hacer uso de la variable introducida
                    por un enlace de valor en expresiones de valor que ocurren dentro de su ámbito.
                    <br>
                    Siguiendo con la vinculación anterior, podemos utilizar la expresión:
                <pre>
                    <code class="language-vb">  Math.sin pi
                    </code>
                </pre>
                <p>
                    para representar 0,0 (aproximadamente), y podemos vincular este valor a una variable
                    escribiendo
                </p>
                <pre>
                    <code class="language-vb">  val x : float = Math.sin pi
                    </code>
                </pre>
                <p>
                    Como ilustran estos ejemplos, la comprobación de tipos y la evaluación dependen del contexto
                    dependientes del contexto en presencia de enlaces de tipo y valor, ya que debemos referirnos
                    para determinar los tipos y valores de las expresiones. En
                    ejemplo, para determinar que el enlace anterior para <span class="font-custom">x</span> está bien formado, debemos
                    consultar el enlace para <span class="font-custom">pi</span> para determinar que tiene el tipo <span class="font-custom">float</span>, consultar
                    el enlace de <span class="font-custom">float</span> para determinar que es sinónimo de real, lo que
                    es necesario para que el enlace de <span class="font-custom">x</span> tenga el tipo <span class="font-custom">float</span>.
                    <br>
                    La regla aproximada tanto para la comprobación de tipos como para la evaluación es que
                    una variable vinculada o un constructor de tipo se sustituye implícitamente por su vinculación
                    antes de la comprobación y evaluación de tipos. Esto se llama a veces el principio de sustitución para los enlaces. Por ejemplo, para evaluar la expresión
                    <span class="font-custom">Math.cos x</span> en el ámbito de las declaraciones anteriores, primero sustituimos la aparición de <span class="font-custom">x</span> por su valor (aproximadamente 0,0), y luego calculamos como antes
                    obteniendo (aproximadamente) 1,0. Más adelante tendremos que perfeccionar este sencillo principio
                    principio simple para tener en cuenta características más sofisticadas del lenguaje, pero es
                    útil tener en cuenta esta sencilla idea.
                </p>
            </div>
            <div class="col-lg-12 col-12 text-center" style="margin: 3em 0em;">
                <a href="#" class="btn btn-danger next" data-btn="3">
                    Siguiente <img class="ml-2" src="{% static 'images/iconos/next.png' %}" alt="">
                </a>
            </div>
        </section>
    </div>

    <div id="target4" class="desactivate">
        <section class="row mx-auto max-90">
            <div class="col-lg-12">
                <h3 class="fw-bolder">3.3 Declaraciones compuestas</h3>
            </div>
        </section>
        <section class="row mx-auto max-90">
            <div class="col-lg-6 col-12" style="margin-top: 2em;">
                <p class="text-start">
                    Los enlaces pueden combinarse para formar declaraciones. Una vinculación es una declaración atómica
                    aunque pueda introducir muchas variables simultáneamente.
                    Dos declaraciones pueden combinarse por composición secuencial, simplemente
                    escribiendo una tras otra, opcionalmente separadas por un punto y coma.
                    Así, podemos escribir la declaración
                </p>
                <pre>
                    <code class="language-vb">  val m : int = 3+2
  val n : int = m*m
                    </code>
                </pre>
                <p>
                    que vincula <span class="bold-red">m</span> a 5 y <span class="bold-red">n</span> a 25. Posteriormente, podemos evaluar m+n para obtener el valor 30. En general, una composición secuencial de declaraciones tiene
                    la forma <span class="font-custom">dec1</span> . . <span class="font-custom">decn</span>, donde <span class="bold-red">n</span> es al menos 2. Los ámbitos de estas declaraciones están anidados unos dentro de otros: el ámbito de <span class="font-custom">dec1</span> incluye <span class="font-custom">dec2</span>, . . . , <span class="font-custom">decn</span>, el
                    ámbito de <span class="font-custom">dec2</span> incluye <span class="font-custom">dec3</span>, . . . . <span class="font-custom">decn</span>, y así sucesivamente.
                </p>
            </div>
            <div class="col-lg-5 col-12 content-images" style="margin-top: 2em;">
                <p>
                    Hay que tener en cuenta que la vinculación no es una asignación. La vinculación
                    de una variable nunca cambia; una vez ligada a un valor, siempre está ligada a
                    a ese valor (dentro del ámbito de la vinculación). Sin embargo, podemos ocultar un
                    una variable dentro del ámbito de la primera vinculación.
                    de la primera vinculación. Siguiendo con el ejemplo anterior, podemos escribir:
                </p>
                <pre>
                        <code class="language-vb"> val n : real = 2.17
                        </code>
                    </pre>
                <p>
                    para introducir una nueva variable <span class="font-custom">n</span> con un tipo y un valor diferentes
                    que la anterior. La nueva vinculación eclipsa a la anterior,
                    que puede ser descartada porque ya no es accesible. (Más adelante, veremos
                    veremos que, en presencia de funciones de orden superior, las vinculaciones en la sombra
                    no siempre se descartan, sino que se conservan como datos privados en un cierre.
                    Se podría decir que las vinculaciones antiguas nunca mueren, sólo se desvanecen).
                </p>
            </div>
            <div class="col-lg-12 col-12 text-center" style="margin: 3em 0em;">
                <a href="#" class="btn btn-danger next" data-btn="4">
                    Siguiente <img class="ml-2" src="{% static 'images/iconos/next.png' %}" alt="">
                </a>
            </div>
        </section>
    </div>

    <div id="target5" class="desactivate">
        <section class="row mx-auto max-90">
            <div class="col-lg-12">
                <h3 class="fw-bolder">3.4 Limitación del alcance</h3>
            </div>
        </section>
        <section class="row mx-auto max-90">
            <div class="col-lg-6 col-12" style="margin-top: 2em;">
                <p class="text-start">
                    El ámbito de una variable o de un constructor de tipo puede delimitarse utilizando expresiones <span class="font-custom">let</span>
                    y declaraciones locales. Una expresión <span class="font-custom">let</span> tiene la forma   
                </p>
                <pre>
                    <code class="language-vb">  let dec in exp end
                    </code>
                </pre>
                <p>
                    donde <span class="font-custom">dec</span> es cualquier declaración y <span class="font-custom">exp</span> es cualquier expresión. El alcance de la declaración
                    declaración <span class="font-custom">dec</span> se limita a la expresión <span class="font-custom">exp</span>. Los enlaces introducidos
                    por <span class="font-custom">dec</span> se descartan al finalizar la evaluación de <span class="font-custom">exp</span>.
                    <br>
                    Del mismo modo, podemos limitar el alcance de una declaración a otra declaración escribiendo
                </p>
                <pre>
                    <code class="language-vb">  local dec in dec0 end
                    </code>
                </pre>
                <p>
                    El alcance de los enlaces en <span class="font-custom">dec</span> se limita a la declaración <span class="font-custom">dec0</span>. 
                    Después de procesar <span class="font-custom">dec0</span>
                    los enlaces en <span class="font-custom">dec</span> pueden ser descartados.
                    <br>
                    El valor de una expresión <span class="font-custom">let</span> se determina evaluando la parte de la declaración y, a continuación, evaluando la expresión en relación con los enlaces introducidos por la declaración, obteniendo este valor como el valor global de la expresión
                    expresión <span class="font-custom">let</span>. Un ejemplo ayudará a aclarar la idea
                </p>
            </div>
            <div class="col-lg-5 col-12 content-images" style="margin-top: 2em;">
                <pre>
                        <code class="language-vb"> let
    val m : int = 3
    val n : int = m*m
  in
    m*n
  end
                        </code>
                    </pre>
                <p>
                    Esta expresión tiene el tipo <span class="font-custom">int</span> y el valor 27, como se puede comprobar fácilmente
                    calculando primero los enlaces para <span class="font-custom">m</span> y <span class="font-custom">n</span>, y luego calculando el valor de <span class="font-custom">m*n</span>
                    en relación con estos enlaces. Los valores de <span class="font-custom">m</span> y <span class="font-custom">n</span> son locales a la expresión <span class="font-custom">m*n</span>, y no son accesibles desde fuera de la expresión.
                    <br>
                    Si la parte de la declaración de una expresión <span class="font-custom">let</span> eclipsa las vinculaciones anteriores, las vinculaciones del entorno se restauran al finalizar la evaluación de la expresión <span class="font-custom">let</span>
                    de la expresión <span class="font-custom">let</span>. Así, la siguiente expresión se evalúa como 54:
                </p>
                <pre>
                    <code class="language-vb">  val m : int = 2
  val r : int =
    let
      val m : int = 3
      val n : int = m*m
    in
      m*n
    end * m
                    </code>
                </pre>
                <p>
                    El enlace de <span class="font-custom">m</span> se anula temporalmente durante la evaluación de la expresión expresión <span class="font-custom">let</span>, y se restablece al finalizar esta evaluación
                </p>
            </div>
            <div class="col-lg-12 col-12 text-center" style="margin: 3em 0em;">
                <a href="#" class="btn btn-danger next" data-btn="5">
                    Siguiente <img class="ml-2" src="{% static 'images/iconos/next.png' %}" alt="">
                </a>
            </div>
        </section>
    </div>

    <div id="target6" class="desactivate">
        <section class="row mx-auto max-90">
            <div class="col-lg-12">
                <h3 class="fw-bolder text-center">3.5: Práctica</h3>
            </div>
        </section>
        <section class="row mx-auto max-90">
            <div class="col-lg-12 col-12" style="margin-top: 2em;text-align: center;">
                <div class="card" style="width: 18rem; display: inline-block;">
                    <div class="card-body">
                        <h5 class="card-title">Ejemplos</h5>
                        <p class="card-text text-start" style="height: 180px">
                            A continuación, se presentarán una serie de ejemplos los cuales contendrán sus enunciados y un paso a paso el cual permitirá al estudiante tener una comprensión más detallada de los temas tratados en este módulo
                        </p>
                        <a href="{% url 'declaraciones:declaraciones_ejemplo1' %}" class="card-link">Vamos a practicar</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem; display: inline-block;">
                    <div class="card-body">
                      <h5 class="card-title">Ejercicios</h5>
                      <p class="card-text text-start" style="height: 180px;">Los ejercicios buscan poder mejorar lo aprendido en este módulo, se le recomienda al estudiante realizar esta sección de ejercicios para poder culminar satisfactoriamente el módulo.</p>
                      <a href="#" class="card-link">Vamos a practicar</a>
                    </div>
                  </div>

            </div>
            <div class="col-lg-12 col-12 text-center" style="margin: 3em 0em;">
                <a href="#" class="btn btn-danger next" data-btn="4">
                    Ir al módulo 3
                </a>
            </div>
        </section>
    </div>


</main>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('.next').each(function (e) {
            $(this).on('click', function (e) {
                // e.preventDefault()
                current = "#target" + $(this).attr('data-btn')
                next = parseInt($(this).attr('data-btn')) + 1
                next = "#target" + next
                $(current).addClass('desactivate')
                $(next).removeClass('desactivate')
            })
        })

        $('#go_to_practice').on('click', function (e) {
            for (var i = 1; i < 5; i++) {
                target_tag = "#target" + i
                if (!$(target_tag).hasClass('desactivate')) {
                    $(target_tag).addClass('desactivate')
                }
            }
            $('#target6').removeClass('desactivate')
            $('#go_to_practice').toggle('explode')
        })
    })
</script>
{% endblock scripts %}