{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock styles %}


{% block content %}
<main class="max-with-90 mx-auto" id="main-section">
    <div class="row mx-auto" id="ladding-tax">
        <div class="col-md-7">
            <h1 class="text-center">
                Comparativa funcional entre Scala y ML
            </h1>
            <a href="#" id="btn-introduction" class="btn d-block w-25 mx-auto">Vamos aprender</a>
        </div>
        <div class="col-md-5">
            <img src="{% static 'images/utp.png' %}" alt="">
        </div>
    </div>
</main>

<section id="introduction" class="max-with-90 mx-auto desactivate">
    <div class="row mx-auto">
        <div class="col-lg-7">
            <h2>¿Que es Scala?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel exercitationem quas dolores excepturi ab
                iste, cumque mollitia reprehenderit aperiam et enim atque. Ex veritatis unde labore ea nostrum nisi illo
                repellat! Error labore aliquam odit at architecto hic commodi ducimus? Tenetur, cupiditate. Assumenda
                ipsum perferendis veritatis nostrum dolorem ipsa facilis.
            </p>
        </div>
        <div class="col-lg-5 container-image">
            <img src="{% static 'images/scala.png' %}" alt="">
        </div>
    </div>
    <div class="row mx-auto top-standard" style="border-bottom: 3px solid black;padding-bottom: 120px;">
        <div class="col-lg-5 container-image">
            <img src="{% static 'images/standardML.png' %}" alt="">
        </div>
        <div class="col-lg-7">
            <h2 style="font-size: 98px;">¿Que es ML Standard?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel exercitationem quas dolores excepturi ab
                iste, cumque mollitia reprehenderit aperiam et enim atque. Ex veritatis unde labore ea nostrum nisi illo
                repellat! Error labore aliquam odit at architecto hic commodi ducimus? Tenetur, cupiditate. Assumenda
                ipsum perferendis veritatis nostrum dolorem ipsa facilis.
            </p>
        </div>
    </div>
    <div class="row mx-auto top-standard">
        <div class="col-lg-8 mx-auto">
            <h2>¿Que se va a trabajar en esta guía?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel exercitationem quas dolores excepturi ab
                iste, cumque mollitia reprehenderit aperiam et enim atque. Ex veritatis unde labore ea nostrum nisi illo
                repellat! Error labore aliquam odit at architecto hic commodi ducimus? Tenetur, cupiditate. Assumenda
                ipsum perferendis veritatis nostrum dolorem ipsa facilis.
            </p>
        </div>
        <div class="row mx-auto top-standard text-center" id="ver-modulos">
            <h2>Módulos</h2>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 22rem;">
                    <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Módulo 1</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 22rem;">
                    <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Módulo 2</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 22rem;">
                    <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Módulo 3</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 mt-5 d-flex justify-content-center">
                <div class="card" style="width: 22rem;">
                    <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Módulo 4</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 mt-5 d-flex justify-content-center">
                <div class="card" style="width: 22rem;">
                    <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Módulo 5</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 mt-5 d-flex justify-content-center">
                <div class="card" style="width: 22rem;">
                    <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Módulo 6</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
    $('#btn-introduction').on('click', function (e) {
        e.preventDefault()
        $('#introduction').toggle('explode')
        $('#main-section').toggle('explode')
    })

    $('#ver-modulos').on('click', function (e) {
        if (!$('#main-section').hasClass('desactivate')) {
            $('#main-section').addClass('desactivate')
            $('#introduction').removeClass('desactivate')
        }
    })
</script>
{% endblock scripts %}