{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock styles %}


{% block content %}
<main class="max-w-90 mx-auto" id="main">
    <div class="row mx-auto color-main p-5">
        <div class="col-6">
            <img src="{% static 'images/utp.png' %}" style="width: 100%;" alt="">
        </div>
        <div class="col-6">
            <h1 class="font-weight-bold">Comparativa funcional entre Scala y MLStandard</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vitae aut eaque, laboriosam ea
                temporibus rerum reprehenderit? Accusantium quae aut sit minima eveniet aperiam illum nam, omnis
                quibusdam est animi!
            </p>
        </div>
        <div class="col-12 mt-5">
            <a href="#" id="1" class="btn btn-1 d-block w-25 mx-auto btn-start" style="font-size: 25px;">
                Empezar
                <img src="{% static 'images/iconos/start.png' %}" class="ms-2" style="width: 30px;" alt="">
            </a>
        </div>
    </div>
</main>
<section id="section-scala" class="max-w-90 mx-auto desactivate">
    <div class="row mx-auto color-main p-5">
        <div class="col-12">
            <h2 class="text-center">¿Qué es Scala?</h2>
        </div>
        <div class="col-6">
            <img src="{% static 'images/scala.png' %}" style="width: 100%;" alt="">
        </div>
        <div class="col-6 mt-5">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ullam, nemo nisi, molestiae recusandae
                nesciunt eum modi deleniti expedita optio aliquam aspernatur impedit, molestias numquam animi dolor
                maxime ab beatae?
            </p>
        </div>
        <div class="col-12">
            <a href="#" id="2" class="btn btn-1 d-block w-25 mx-auto btn-start" style="font-size: 25px;">
                Siguiente
                <img src="{% static 'images/iconos/next.png' %}" class="ms-2" style="width: 30px;" alt="">
            </a>
        </div>
    </div>
</section>

<section id="section-ML" class="max-w-90 mx-auto desactivate">
    <div class="row mx-auto color-main p-5">
        <div class="col-12">
            <h2 class="text-center">¿Qué es ML Standard?</h2>
        </div>
        <div class="col-6">
            <img src="{% static 'images/standardML.png' %}" style="width: 100%;" alt="">
        </div>
        <div class="col-6 mt-5">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ullam, nemo nisi, molestiae recusandae
                nesciunt eum modi deleniti expedita optio aliquam aspernatur impedit, molestias numquam animi dolor
                maxime ab beatae?
            </p>
        </div>
        <div class="col-12">
            <a href="#" id="3" class="btn btn-1 d-block w-25 mx-auto btn-start" style="font-size: 25px;">
                Siguiente
                <img src="{% static 'images/iconos/next.png' %}" class="ms-2" style="width: 30px;" alt="">
            </a>
        </div>
    </div>
</section>

<section id="teoria" class="max-w-90 mx-auto desactivate">
    <div class="row mx-auto color-main p-5">
        <div class="col-12">
            <h2 class="text-center">Teoría y módulos</h2>
        </div>
        <div class="col-6 my-3">
            <h4>¿Qué es la teoría?</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ullam, nemo nisi, molestiae recusandae
                nesciunt eum modi deleniti expedita optio aliquam aspernatur impedit, molestias numquam animi dolor
                maxime ab beatae?
            </p>
        </div>
        <div class="col-6 my-3">
            <h4>¿Que son los módulos?</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ullam, nemo nisi, molestiae recusandae
                nesciunt eum modi deleniti expedita optio aliquam aspernatur impedit, molestias numquam animi dolor
                maxime ab beatae?
            </p>
        </div>
        <div class="col-12">
            <a href="#" id="4" class="btn btn-1 d-block w-25 mx-auto btn-start" style="font-size: 25px;">
                Siguiente
                <img src="{% static 'images/iconos/next.png' %}" class="ms-2" style="width: 30px;" alt="">
            </a>
        </div>
    </div>
</section>

<section id="modulos" class="max-w-90 mx-auto desactivate">
    <div class="row mx-auto color-main p-5">
        <div class="col-12">
            <h2 class="text-center font-weight-bold">Módulos</h2>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Módulo 1</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-1">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Módulo 2</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-1">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Módulo 3</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-1">Go somewhere</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Módulo 4</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-1">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Módulo 5</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-1">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="{% static 'images/random.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Módulo 6</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-1">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
<script>
    $('#show_modules').on('click', function (e) {
        e.preventDefault()
        $('#modulos').toggle('explode')
        $('#main').toggle('main')
        $('#show_modules').toggle('explode')
    })
    $('.btn-start').each(function () {
        $(this).on('click', function (e) {
            e.preventDefault()
            id = $(this).attr('id')
            switch (id) {
                case '1': {
                    $('#section-scala').toggle('explode')
                    $('#main').toggle('explode')
                    $('#show_modules').toggle('explode')
                    break
                }
                case '2': {
                    $('#section-ML').toggle('explode')
                    $('#section-scala').toggle('explode')
                    break
                }
                case '3': {
                    $('#teoria').toggle('explode')
                    $('#section-ML').toggle('explode')
                    break
                }
                case '4': {
                    $('#modulos').toggle('explode')
                    $('#teoria').toggle('explode')
                    break
                }
            }
        })
    })
</script>
{% endblock scripts %}