{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/app/home.css' %}">
{% endblock styles %}


{% block content %}
<main>
    <section class="row mx-auto max-90" style="margin-top: 8em;">
        <div class="col-md-6 text-center">
            <img src="{% static 'images/home/utp.png' %}" alt="" style="width: 60%;">
        </div>
        <div class="col-6">
            <h3 class="font-weight-bold" style="font-size: 23px; margin-bottom: 1em;">Bienvenido a la guía del paradigma
                funcional con SML</h3>
            <p>
                Este software es desarrollado por la Universidad tecnológica de Pereira,
                el cual busca poder enseñar el paradigma de programación declarativo funcional mediante
                el lenguaje de programación StandarML.
                Se ha escogido este paradigma de programación funcional, debido a que es un
                paradigma enfocado a la enseñanza de la programación,
                al igual que muchos otros paradigmas, con el paradigma funcional se puede llegar a
                lograr construir programas robustos y complejos con el fin de poder solucionar
                alguna necesidad, entre sus muchas aplicaciones se destacan aplicaciones para técnicas y matemáticas,
                Inteligencia artificial, compiladores o analizadores, entre otras muchas.
            </p>
        </div>
    </section>
    <section class="bg-solved" style="margin-top: 3em;">
        <div class="row mx-auto max-90">
            <div class="col-md-6">
                <h3 class="text-center mt-5" style="font-size: 23px;">¿Que es SML?</h3>
                <p>
                    SML es un lenguaje de programación de tipo seguro que incorpora muchas
                    ideas innovadoras en el diseño de lenguajes de programación. Es un lenguaje estáticamente tipado
                    con un sistema de tipos extensible. Soporta la inferencia de tipos polimórficos
                    que prácticamente elimina la carga de especificar los tipos de las variables y
                    facilita enormemente la reutilización del código. Proporciona una gestión automática y eficaz del
                    almacenamiento de las estructuras de datos y las funciones.
                </p>
            </div>
            <div class="col-6 text-center">
                <h3 class="font-weight-bold mt-5" style="font-size: 23px; margin-bottom: 1em;">¿Qué es la programación
                    funcional?</h3>
                <p class="text-start">
                    El nombre ya lo sugiere: la programación funcional o functional programming se centra en las
                    funciones. En un programa funcional, todos los elementos pueden entenderse como funciones y el
                    código puede ejecutarse mediante llamadas de función secuenciales. Por el contrario, no se asignan
                    valores de forma independiente. Una función se imagina mejor como una variante especial de un
                    subprograma. Esta es reutilizable y, a diferencia de un procedimiento, devuelve directamente un
                    resultado.
                </p>
            </div>
        </div>
    </section>
    <section class="row mx-auto max-90" style="margin-top: 2em;">
        <div class="col-12 text-center">
            <h3 class="font-weight-bold" style="font-size: 23px; margin-bottom: 2em;">PUNTOS A TOCAR EN ESTE SOFTWARE
            </h3>
            <p class="text-start">
                Con el objetivo de poder cumplir con los criterios y formatos de evaluación, se menciona a continuación
                cuales objetivos son los que este software abarca: <br>
            <ul class="text-start">
                <li>ROBUSTEZ: Este software cuenta con un manual de usuario y un manual técnico el cual le permite tanto
                    a la persona que lo va a usar como el que quiere saber como esta desarrollado el mismo tener una
                    visión clara sobre el software y sus secciones más significativas</li>
                <li>EXTENDIBILIDAD: A pesar de que este software no cuenta con una facilidad de añadírseles nuevas
                    características, se cuenta con la documentación adecuada para poder implementar nuevas propiedades
                </li>
                <li>MANTENIMIENTO: Se presenta una buena documentación para realizar cambios en el mismo</li>
                <li>GRADO DE INVENCIÓN O INNOVACIÓN: A pesar de que SML es un lenguaje conocido, es difícil encontrar
                    tutoriales y ejemplos de este lenguaje de programación, adicional de eso, este software cuenta con
                    un sistema de ejemplos los cuales muestran el paso a paso de diferentes ejercicios aplicados en el
                    lenguaje</li>
            </ul>
            </p>
        </div>
    </section>
    <section class="bg-solved" style="margin-top: 3em;">
        <div class="row mx-auto max-90">
            <div class="col-md-12">
                <h3 class="text-center mt-5" style="font-size: 23px;">¿Que son los módulos?</h3>
                <p>
                    Los módulos son secciones o apartados los cuales se tocan, se explican y se realizan ejercicios y
                    ejemplos de diferentes temas del lenguaje SML, cada módulo cuenta con ejemplos los cuales tienen un
                    paso a paso implementado, es de esta manera es como se busca poder que el usuario entienda cada uno
                    de los temas tocados.
                </p>
            </div>
        </div>
    </section>
    <section class="row mx-auto max-90" style="margin-top: 2em;" id="modulos">
        <div class="col-12 text-center">
            <h3 class="font-weight-bold" style="font-size: 23px; margin-bottom: 2em;">Módulos</h3>

            <div class="card" style="width: 18rem; display: inline-block;">
                <img src="{% static 'images/m1/expresiones_regulares.png' %}" style="width: 100%;height: 200px;"
                    class="card-img-top" alt="IMAGE">
                <div class="card-body">
                    <h5 class="card-title text-center">Expresiones</h5>
                    <p class="card-text" style="height: 250px;">
                        En este módulo vamos introduciremos en la forma mas simple y sencilla de trabajar con ML. Donde se mencionan de los tipos de expresiones para el sistema de ML. 
                        Vamos aprender como construir expresiones usando tipos atómicos tales como los <span class="blood-color">integers</span>  y los <span class="blood-color">strings</span>
                    </p>
                    <a href="{% url 'expressions:main' %}" class="btn bg-personal-red">Entrar al módulo</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}

{% block scripts %}
<script>

</script>
{% endblock scripts %}