{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/ejemplos/sidebar.css' %}">
{% endblock styles %}


{% block content %}
    {% include 'tipos-variables/ejemplos/sidebar.html' %}
    <main style="padding: 100px 30px;">
        <div class="row mx-auto">
            <div class="col-lg-3" style="content: '';">
            </div>
            <div class="col-lg-8">
                <h3>Ejemplo 2</h3>
                <p>
                    Para entender un poco más sobre SML vamos a crear un programa el cual usted debe escribir bloques de instrucciones con las operaciones matemáticas vistas en el módulo.
                </p>
            </div>
            <div class="col-lg-3" style="content: '';">
            </div>
            <div class="col-lg-4">
                <pre id="explain_code">
                    <code class="language-vb">    <span id="pass1">3 + 4;</span>
    <span id="pass2" data-index="2">4 mod 4;</span>
    <span id="pass3" data-index="3">10 - 2;</span> 
                    </code>
                </pre>
                
                <a href="#" id="pass" class="btn btn-danger">Paso a paso</a>
                <a href="#" id="next" class="btn btn-danger desactivate">Siguiente</a>
                <a href="#" id="result" class="btn btn-danger desactivate">Ver resultado</a>
            </div>
            <div id="explain" class="col-lg-4 desactivate">
                <pre id="explain_code_2">
                    <code class="language-vb"> <span id="code_1">Operación suma, se operan entre dos tipos de datos <span style="color: gray;">Integer</span></span>
 <span id="code_2" class="desactivate">Operación modulo entre el número 4</span>                        
 <span id="code_3" class="desactivate">Operación resta entre dos tipos de datos <span style="color: gray;">Integer</span></span>                        
                    </code>
                </pre>
                <pre id="result_code" class="desactivate">
                    <code class="language-vb">  7: int
  0 : int
  8 : int
                    </code>
                </pre>
            </div>
        </div>
    </main>
{% endblock content %}


{% block scripts %}

<script>
    $(document).ready(function () {
        init_pass = 1
        init_max = 3

        $('#pass').on('click',(e)=>{
            e.preventDefault()
            $('#pass').toggle('explode')
            $('#next').toggle('explode')
            $('#explain').toggle('explode')
            $('#pass1').addClass('color_pass')
        })

        $('#next').on('click',(e) => {
            e.preventDefault()
            id_current = '#pass'+init_pass
            id_next = '#pass'+(init_pass+1)
            id_explain_current = "#code_"+init_pass
            id_explain_next = "#code_"+(init_pass+1)
            init_pass+=1
            console.log(init_pass);
            if (init_pass == init_max){
                $("#result").toggle('')
                $("#next").toggle('')   
            }
            $(id_next).addClass("color_pass")
            $(id_current).removeClass("color_pass")

            $(id_explain_current).toggle('')
            $(id_explain_next).toggle('')
        })

        $('#result').on('click',(e) => {
            e.preventDefault()
            $('#result').toggle('')
            $('#explain_code_2').toggle('')
            $('#result_code').toggle('')
        })
    })
</script>
{% endblock scripts %}