{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/ejemplos/sidebar.css' %}">
{% endblock styles %}


{% block content %}
    {% include 'tipos-variables/ejemplos/sidebar.html' %}
    <main style="padding: 100px 30px;">
        <div class="row mx-auto">
            <div class="col-lg-3" style="content: '';">
            </div>
            <div class="col-lg-8">
                <h3>Ejemplo 2</h3>
                <p>
                    Realizar un programa que dependiendo un número definido por el programador valide si el número es mayor o igual a 5 entonces realice una multiplicación entre el número definido y el número 5, pero si es menor a 5 entonces realice una resta entre el número 5 y el número definido. NOTA: el número que ingrese el usuario no puede ser menor o igual a cero.
                </p>
            </div>
            <div class="col-lg-3" style="content: '';">
            </div>
            <div class="col-lg-4">
                <pre id="explain_code">
                    <code class="language-vb">    <span id="pass1">val num = num_ingresado;</span>
    <span id="pass2" data-index="2">if num <= 0 then</span>
        <span id="pass3" data-index="3">0</span>
    <span id="pass4" data-index="4">else</span>
        <span id="pass5" data-index="5">if num >= 5 then num*5</span>
        <span id="pass6" data-index="6">else 5 - num</span>
                </code>
            </pre>
                
                <a href="#" id="pass" class="btn btn-danger">Paso a paso</a>
                <a href="#" id="next" class="btn btn-danger desactivate">Siguiente</a>
                <a href="#" id="result" class="btn btn-danger desactivate">Ver resultado</a>
            </div>
            <div class="col-5 mx-auto desactivate" id="container_together">
                <div id="explain" class="col-lg-12">
                    <pre id="explain_code_2">
                        <code class="language-vb"> <span id="code_1">Primero se define la variable num y se iguala a un valor entero definido por el programador. Nota: en su computador deberá ser un número definido por usted, esto debido a que aun no se han explicado los temas de entradas y salidas en SML</span>
 <span id="code_2" class="desactivate">Luego se valida con el condicional if, que el número no sea menor a cero</span>                        
 <span id="code_3" class="desactivate">De ser menor a cero entonces se retornará como resultado el número cero <span style="color: gray;">Nota</span>: en cualquiera de los casos siempre se debe retornar el mismo tipo de valor es decir siempre de deberá retornar un <span style="color: gray;">Integer</span></span>                        
 <span id="code_4" class="desactivate">De no ser menor a cero</span>                        
 <span id="code_5" class="desactivate">Se valida ahora si el número es mayor o igual a 5 de ser así, entonces se multiplica el valor de la variable num por el número 5</span>                        
 <span id="code_6" class="desactivate">Si por el contrario el valor de la variable num es menor a 5 entonces se realizará la resta entre 5 y el valor de la variable num</span>                        
                        </code>
                    </pre>
                    <pre id="result_code" class="desactivate">
                        <code class="language-vb">  <span id="resulttag"></span>
                        </code>
                    </pre>
                </div>
                <div id="input" class="col-lg-12 text-center">
                    <h3>Ingrese número</h3>
                    <input type="text" placeholder="Ingrese un número" id="input_number">
                </div>
            </div>
        </div>
    </main>
{% endblock content %}


{% block scripts %}

<script>
    alertify.alert(
        'Para tener en cuenta!', 'En este ejemplo para temas dinámicos, se le pide al usuario ingresar un número para poder mostrar el ejemplo, sin embargo, a la hora de realizar el programa en su computador, es necesario que usted defina la variable num de manera estática debido a que aun no se ha explicado acerca de las entradas y salidas en SML. Tema que se va a explicar en un módulo más adelante.', 
        function(){ }
    );
    $(document).ready(function () {
        init_pass = 1
        init_max = 6
        num_trans = 0
        $('#pass').on('click',(e)=>{
            e.preventDefault()
            $('#pass').toggle('explode')
            $('#next').toggle('explode')
            $('#container_together').toggle('explode')
            $('#pass1').addClass('color_pass')
        })

        $('#next').on('click',(e) => {
            e.preventDefault()
            id_current = '#pass'+init_pass
            id_next = '#pass'+(init_pass+1)
            id_explain_current = "#code_"+init_pass
            id_explain_next = "#code_"+(init_pass+1)
            init_pass+=1
            state_to_next = true

            if (init_pass == 2){
                num_trans = parseInt($('#input_number').val())
                if(!isNaN(
                    num_trans
                )){
                    $('#input').toggle('explode')
                }else{
                    init_pass--;
                    state_to_next = false
                    alertify.alert("Valor invalido","Ingresa un valor valido", function(){ });
                }
            }
            if (init_pass == init_max){
                $("#result").toggle('')
                $("#next").toggle('')   
            }
            
            if(state_to_next){
                $(id_next).addClass("color_pass")
                $(id_current).removeClass("color_pass")
    
                $(id_explain_current).toggle('')
                $(id_explain_next).toggle('')
            }
        })

        var show_result = () => {
            if(num_trans <= 0){
                return 0
            }else{
                if (num_trans >= 5){
                    return num_trans*5
                }else{
                    return 5 - num_trans
                }
            }
        }
 
        $('#result').on('click',(e) => {
            e.preventDefault()
            $('#result').toggle('')
            $('#explain_code_2').toggle('')
            $('#result_code').toggle('')
            result = "val it = " + show_result() + " : int"
            $('#resulttag').html(result)
        })
    })
</script>
{% endblock scripts %}