{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/ejemplos/sidebar.css' %}">
{% endblock styles %}


{% block content %}
    {% include 'recursive_fun/ejemplos/sidebar.html' %}
    <main style="padding: 100px 30px;">
        <div class="row mx-auto">
            <div class="col-lg-3" style="content: '';">
            </div>
            <div class="col-lg-8">
                <h3>Ejemplo 1</h3>
                <p>
                    Escribir una función recursiva que calcule el factorial de un número n donde n >= 1 y da como resultado el producto de todos los enteros comprendidos entre 1 y n.
                </p>
            </div>
            <div class="col-lg-3" style="content: '';">
            </div>
            <div class="col-lg-4">
                <pre id="explain_code">
                    <code class="language-vb">    <span id="pass1">val x = valor_ingresado;</span>
    <span id="pass2" data-index="2">fun factorial(x) =</span>
    <span id="pass3" data-index="3">    if x = 1 then</span>
    <span id="pass4" data-index="4">        1</span>
    <span id="pass5" data-index="5">    else</span>
    <span id="pass6" data-index="6">        factorial(x-1)*x;</span>
    <span id="pass7" data-index="7">factorial(x);</span>
                </code>
            </pre>
                
                <a href="#" id="pass" class="btn btn-danger">Paso a paso</a>
                <a href="#" id="next" class="btn btn-danger desactivate">Siguiente</a>
                <a href="#" id="result" class="btn btn-danger desactivate">Ver resultado</a>
            </div>
            <div class="col-5 mx-auto desactivate" id="container_together">
                <div id="explain" class="col-lg-12">
                    <pre id="explain_code_2">
                        <code class="language-vb"> <span id="code_1">Se define la variable x y es igualada al valor ingresado por el usuario</span>
 <span id="code_2" class="desactivate">Luego se declara la función factorial que recibe como parámetro una variable x</span>                        
 <span id="code_3" class="desactivate">Dentro de la función se valida la base (recordar que la base es el condicional que determina cuándo ha finalizado la recursión), donde se valida que la variable x sea igual a 1</span>
 <span id="code_4" class="desactivate">Si x es igual a 1 entonces la función retorna 1</span>
 <span id="code_5" class="desactivate">De lo contrario si x no es igual a 1</span>
 <span id="code_6" class="desactivate">Se volverá hacer el llamado a la función factorial pero pasándole como parámetro ahora la variable x - 1</span>
 <span id="code_7" class="desactivate">Se hace el llamado a la función factorial declarada anteriormente, pasándole como parámetro la variable x.</span>
                        </code>
                    </pre>
                    <pre id="result_code" class="desactivate">
                        <code class="language-vb">  <span id="resulttag"></span>
                        </code>
                    </pre>
                </div>
                <div id="input" class="col-lg-12 text-center">
                    <h3>Ingrese número</h3>
                    <input type="text" placeholder="Ingrese un número" id="input_number">
                </div>
            </div>
        </div>
    </main>
{% endblock content %}


{% block scripts %}

<script>
    // alertify.alert(
    //     'Para tener en cuenta!', 'En este ejemplo para temas dinámicos, se le pide al usuario ingresar un número para poder mostrar el ejemplo, sin embargo, a la hora de realizar el programa en su computador, es necesario que usted defina la variable n de manera estática debido a que aun no se ha explicado acerca de las entradas y salidas en SML. Tema que se va a explicar en un módulo más adelante.', 
    //     function(){ }
    // );
    $(document).ready(function () {
        init_pass = 1
        init_max = 7
        num = 0

        $('#pass').on('click',(e)=>{
            e.preventDefault()
            $('#pass').toggle('explode')
            $('#next').toggle('explode')
            $('#container_together').toggle('explode')
            $('#pass1').addClass('color_pass')
        })

        $('#next').on('click',(e) => {
            e.preventDefault()
            id_current = '#pass'+init_pass
            id_next = '#pass'+(init_pass+1)
            id_explain_current = "#code_"+init_pass
            id_explain_next = "#code_"+(init_pass+1)
            init_pass+=1
            state_to_next = true

            if (init_pass == 2){
                num_trans = parseInt($('#input_number').val())
                if(!isNaN(
                    num_trans
                )){
                    num = num_trans
                    $('#input_number').val('')
                    if(init_pass == 2){
                        $('#input').toggle('explode')
                        $('#container_value_i').toggle('explode')
                    }
                }else{
                    init_pass--;
                    state_to_next = false
                    alertify.alert("Valor invalido","Ingresa un valor valido", function(){ });
                }
            }
            if (init_pass == init_max){
                $("#result").toggle('')
                $("#next").toggle('')   
            }
            
            if(state_to_next){
                $(id_next).addClass("color_pass")
                $(id_current).removeClass("color_pass")
                $(id_explain_current).toggle('')
                $(id_explain_next).toggle('')
            }
        })

        var show_result = () => {
            var acum = 1
            for(let i = num; i>0 ; i--){
                acum *= i
            }
            return acum
        }
 
        $('#result').on('click',(e) => {
            e.preventDefault()
            $('#result').toggle('')
            $('#explain_code_2').toggle('')
            $('#result_code').toggle('')
            result = "val it = " + show_result()
            $('#resulttag').html(result)
        })
    })
</script>
{% endblock scripts %}