{% extends 'base.html' %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/app/expresiones.css' %}">
{% endblock styles %}


{% block content %}
<main>
    <section class="row mx-auto max-90" style="margin-top: 9em;">
        <div class="col-lg-12">
            <h3 class="fw-bolder">Introducción: Expresiones regulares y ejemplos de códigos</h3>
        </div>
    </section>

    <section class="row mx-auto max-90" id="target1">
        <div class="col-lg-6 col-12" style="margin-top: 2em;">
            <p class="text-start">
                Para desarrollar una idea del lenguaje y cómo se utiliza, consideremos la
                implementación de un paquete para comparar cadenas con expresiones regulares. Estructuraremos la
                implementación en dos módulos, una implementación de las expresiones regulares en sí mismas y una
                implementación de un
                de un algoritmo de comparación para ellas.
                Estos dos módulos se describen de forma concisa con las siguientes firmas
            </p>
            <div>
                <a href="#" class="btn btn-danger next" data-btn="1">
                    Siguiente <img class="ml-2" src="{% static 'images/iconos/next.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-5 col-12">
            <pre>
                <code class="language-vb"> signature REGEXP = sig
     datatype regexp =
         Zero | One | Char of char |
         Plus of regexp * regexp |
         Times of regexp * regexp |
         Star of regexp
     exception SyntaxError of string
     val parse : string -> regexp
     val format : regexp -> string
 end
 signature MATCHER = sig
     structure RegExp : REGEXP
     val accepts : RegExp.regexp -> string -> bool
 end
                </code>
            </pre>
        </div>
    </section>

    <section class="row mx-auto max-90 desactivate" id="target2">
        <div class="col-lg-6 col-12" style="margin-top: 2em;">
            <p class="text-start">
                La firma <span style="font-weight: bold;">REGEXP</span> describe un módulo que implementa 
                las expresiones regulares. 
                Consiste en una descripción de la sintaxis abstracta de las expresiones regulares, 
                junto con las operaciones para analizarlas y eliminarlas.
            </p>
            <div>
                <a href="#" class="btn btn-danger next" data-btn="2">
                    Siguiente <img class="ml-2" src="{% static 'images/iconos/next.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-5 col-12">
            <pre>
                <code class="language-vb"> <span style="background-color: gray;">signature REGEXP = sig</span>
     datatype regexp =
         Zero | One | Char of char |
         Plus of regexp * regexp |
         Times of regexp * regexp |
         Star of regexp
     exception SyntaxError of string
     val parse : string -> regexp
     val format : regexp -> string
 end
 signature MATCHER = sig
     structure RegExp : REGEXP
     val accepts : RegExp.regexp -> string -> bool
 end
                </code>
            </pre>
        </div>
    </section>

    <section class="row mx-auto max-90 desactivate" id="target3">
        <div class="col-lg-6 col-12" style="margin-top: 2em;">
            <p class="text-start">
                La firma <span style="font-weight: bold;">MATCHER</span> describe un módulo que implementa un comparador para una noción 
                dada de expresión regular. 
                Contiene una función acepta que, cuando se le da una expresión regular, 
                devuelve una función que determina si esa expresión acepta o no una cadena dada. 
                Obviamente, el comparador depende de la implementación de las expresiones regulares. 
                Esto se expresa mediante una especificación de estructura que especifica una dependencia 
                jerárquica de una implementación de un comparador sobre una implementación de expresiones 
                regulares cualquier implementación de la firma <span style="font-weight: bold;">MATCHER</span> debe incluir una implementación 
                de expresiones regulares como un módulo constituyente. 
                Esto garantiza que el comparador es autónomo y no depende de convenciones 
                implícitas para determinar qué implementación de expresiones regulares emplea.
            </p>
            <div>
                <a href="#" class="btn btn-danger next" data-btn="3">
                    Siguiente <img class="ml-2" src="{% static 'images/iconos/next.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-5 col-12">
            <pre>
                <code class="language-vb"> signature REGEXP = sig
     datatype regexp =
         Zero | One | Char of char |
         Plus of regexp * regexp |
         Times of regexp * regexp |
         Star of regexp
     exception SyntaxError of string
     val parse : string -> regexp
     val format : regexp -> string
 end
 <span style="background-color: gray;">signature MATCHER = sig</span>
     structure RegExp : REGEXP
     val accepts : RegExp.regexp -> string -> bool
 end
                </code>
            </pre>
        </div>
    </section>

    <section class="row mx-auto max-90 desactivate" id="target4">
        <div class="col-lg-6 col-12" style="margin-top: 2em;">
            <p class="text-start">
                La definición de la sintaxis abstracta de las expresiones regulares en la firma <span style="font-weight: bold;">REGEXP</span> 
                toma la forma de una declaración de tipo de datos que recuerda
                de una gramática libre de contexto, pero que se abstrae de las cuestiones de presentación 
                léxica (como las precedencias de los operadores, el paréntesis, las convenciones
                para nombrar los operadores, etc.) La sintaxis abstracta consta de seis cláusulas
                correspondientes a las expresiones regulares 0, 1, a, r1 + r2, r1 r2, y r∗.
                Las funciones funciones parse y format especifican el parser y unparser 
                para las expresiones expresiones regulares. 
                El analizador sintáctico toma una cadena como argumento y 
                devuelve una expresión regular Si la cadena está mal formada, 
                el analizador lanza la excepción <span style="font-weight: bold;">SyntaxError</span> con una cadena asociada que 
                describe el origen del error. El toma una expresión regular y produce una 
                cadena que se ajusta a esa expresión regular. expresión regular. 
                En general, hay muchas cadenas que se ajustan a las mismas expresiones regulares. 
                mismas expresiones regulares; el descompresor generalmente trata de elegir una que 
                sea más fácil de leer
            </p>
            <div>
                <a href="#" class="btn btn-danger next" data-btn="4">
                    Siguiente <img class="ml-2" src="{% static 'images/iconos/next.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-5 col-12">
            <pre>
                <code class="language-vb"> signature REGEXP = sig
     datatype regexp =
         Zero | One | Char of char |
         Plus of regexp * regexp |
         Times of regexp * regexp |
         Star of regexp
     <span style="background-color: grey;">exception SyntaxError of string</span>
     <span style="background-color: grey;">val parse : string -> regexp</span>
     <span style="background-color: grey;">val format : regexp -> string</span>
 end
 signature MATCHER = sig
     structure RegExp : REGEXP
     val accepts : RegExp.regexp -> string -> bool
 end
                </code>
            </pre>
        </div>
    </section>


    <section class="row mx-auto max-90 desactivate" id="target5">
        <div class="col-lg-6 col-12" style="margin-top: 2em;">
            <p class="text-start">
                La implementación del comparador consta de dos módulos: una implementación de expresiones regulares y una implementación del comparador
                mismo. Una implementación de una firma se denomina estructura. 
                La implementación del emparejador consiste en dos estructuras, 
                una que implementa la firma <span style="font-weight: bold;">REGEXP</span> y la otra que implementa <span style="font-weight: bold;">MATCHER</span>. 
                Por lo tanto, el paquete global se implementa mediante las siguientes 
                dos declaraciones de estructura
            </p>
            <div>
                <a href="#" class="btn btn-danger next" data-btn="4">
                    Siguiente <img class="ml-2" src="{% static 'images/iconos/next.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-5 col-12">
            <pre>
                <code class="language-vb"> signature REGEXP = sig
     datatype regexp =
         Zero | One | Char of char |
         Plus of regexp * regexp |
         Times of regexp * regexp |
         Star of regexp
     <span style="background-color: grey;">exception SyntaxError of string</span>
     <span style="background-color: grey;">val parse : string -> regexp</span>
     <span style="background-color: grey;">val format : regexp -> string</span>
 end
 signature MATCHER = sig
     structure RegExp : REGEXP
     val accepts : RegExp.regexp -> string -> bool
 end
                </code>
            </pre>
        </div>
    </section>
</main>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.next').each(function(e){
            $(this).on('click',function(e){
                e.preventDefault()
                current = "#target"+$(this).attr('data-btn')
                next = parseInt($(this).attr('data-btn')) + 1
                next = "#target"+next
                $(current).addClass('desactivate')
                $(next).removeClass('desactivate')
            })
        })
    })
</script>
{% endblock scripts %}