{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/ejemplos/sidebar.css' %}">
{% endblock styles %}


{% block content %}
    {% include 'tuples_lists/ejemplos/sidebar.html' %}
    <main style="padding: 100px 30px;">
        <div class="row mx-auto">
            <div class="col-lg-3" style="content: '';">
            </div>
            <div class="col-lg-8">
                <h3>Ejemplo 3</h3>
                <p>
                    Dada tres tuplas con diferentes elementos dentro de cada una, realizar un programa que concatene solamente los elementos de tipo string
                </p>
            </div>
            <div class="col-lg-3" style="content: '';">
            </div>
            <div class="col-lg-4">
                <pre id="explain_code">
                    <code class="language-vb">    <span id="pass1">val tupla1 = (2.0,11,"Programacion");</span>
    <span id="pass2" data-index="2">val tupla2 = (#"A","en",20 div 2);</span>
    <span id="pass3" data-index="3">val tupla3 = ("ML",2+1,20 div 2);</span>
    <span id="pass4" data-index="4">val concat_ = #3(tupla1) :: #2(tupla2) :: #1(tupla3) :: nil;</span>
    <span id="pass5" data-index="5">val concat_result = concat(concat_);</span>
                    </code>
                </pre>
                
                <a href="#" id="pass" class="btn btn-danger">Paso a paso</a>
                <a href="#" id="next" class="btn btn-danger desactivate">Siguiente</a>
                <a href="#" id="result" class="btn btn-danger desactivate">Ver resultado</a>
            </div>
            <div id="explain" class="col-lg-4 desactivate">
                <pre id="explain_code_2">
                    <code class="language-vb"> <span id="code_1">Se define la primera tupla de 3 elementos</span>
 <span id="code_2" class="desactivate">Se define la segunda tupla de 3 elementos</span>                        
 <span id="code_3" class="desactivate">Se define la tercera tupla de 3 elementos</span>                        
 <span id="code_4" class="desactivate">Se crea una lista de los elementos de tipo string que hay en las tuplas 1 2 y 3 (Nótese que se accede a dichos elementos utilizando la notación #), el resultado es almacenado en una variable llamada <span style="background-color: gray;">concat_</span></span>
 <span id="code_5" class="desactivate">Ahora teniendo la lista en la variable <span style="background-color: gray;">concat_</span> se utiliza la función concat para formar un string con todos los elementos de la lista</span>
                    </code>
                </pre>
                <pre id="result_code" class="desactivate">
                    <code class="language-vb">  val concat_result = "ProgramacionenML" : string
                    </code>
                </pre>
            </div>
        </div>
    </main>
{% endblock content %}


{% block scripts %}

<script>
    $(document).ready(function () {
        init_pass = 1
        init_max = 5

        $('#pass').on('click',(e)=>{
            e.preventDefault()
            $('#pass').toggle('explode')
            $('#next').toggle('explode')
            $('#explain').toggle('explode')
            $('#pass1').addClass('color_pass')
        })

        $('#next').on('click',(e) => {
            e.preventDefault()
            id_current = '#pass'+init_pass
            id_next = '#pass'+(init_pass+1)
            id_explain_current = "#code_"+init_pass
            id_explain_next = "#code_"+(init_pass+1)
            init_pass+=1
            if (init_pass == init_max){
                $("#result").toggle('')
                $("#next").toggle('')   
            }
            $(id_next).addClass("color_pass")
            $(id_current).removeClass("color_pass")

            $(id_explain_current).toggle('')
            $(id_explain_next).toggle('')
        })

        $('#result').on('click',(e) => {
            e.preventDefault()
            $('#result').toggle('')
            $('#explain_code_2').toggle('')
            $('#result_code').toggle('')
        })
    })
</script>
{% endblock scripts %}