main{
    font-size: 30px;
    padding: 20px;
}
.color-main{
    background-color:rgba(255, 255, 255, 0.6);
    border: 1px solid black;
}
p{
    font-size: 27px;
}

.card:hover > img{
    width: 98%;
    cursor: pointer;
}