{% load static %}
<div class="max-with-90 mx-auto">
    <div class="row mx-auto">
        <div class="col-lg-4 image-header">
            <img src="{% static 'images/scalaML.png' %}" alt="">
        </div>
        <div class="col-lg-8">
            <ul class="nav justify-content-end py-4">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#ver-modulos" id="ver-modulos">Ver modulos</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Manual de usuario
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manual tecnico</a>
                </li>
            </ul>
        </div>
    </div>
</div>