{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/ejemplos/sidebar.css' %}">
{% endblock styles %}


{% block content %}
    {% include 'tipos-variables/ejemplos/sidebar.html' %}
    <main style="padding: 100px 30px;">
        <div class="row mx-auto">
            <div class="col-lg-3" style="content: '';">
            </div>
            <div class="col-lg-8">
                <h3>Ejemplo 3</h3>
                <p>
                    Defina un programa que calcule el volumen de un cuadrado. Recuerde que el volumen de un cuadrado es base x altura
                </p>
            </div>
            <div class="col-lg-3" style="content: '';">
            </div>
            <div class="col-lg-4">
                <pre id="explain_code">
                    <code class="language-vb">    <span id="pass1">val n1 = 6;</span>
    <span id="pass2" data-index="2">val n2 = 9;</span>
    <span id="pass3" data-index="3">val n3 = 5;</span>
    <span id="pass4" data-index="4">val mayor = n1;</span>
    <span id="pass5" data-index="5">val mayor = </span>
    <span id="pass6" data-index="6">    if mayor < n2 then n2 else mayor;</span>
    <span id="pass7" data-index="7">val mayor =</span>
    <span id="pass8" data-index="8">    if mayor < n3 then n3 else mayor;</span>
    <span id="pass9" data-index="9">mayor;</span>
                    </code>
                </pre>
                
                <a href="#" id="pass" class="btn btn-danger">Paso a paso</a>
                <a href="#" id="next" class="btn btn-danger desactivate">Siguiente</a>
                <a href="#" id="result" class="btn btn-danger desactivate">Ver resultado</a>
            </div>
            <div id="explain" class="col-lg-4 desactivate">
                <pre id="explain_code_2">
                    <code class="language-vb"> <span id="code_1">Se declara una variable llamada <span class="color_pass">n1</span> y se iguala al número 6</span>
 <span id="code_2" class="desactivate">Se declara una variable llamada <span class="color_pass">n2</span> y se iguala al número 9</span>                        
 <span id="code_3" class="desactivate">Se declara una variable llamada <span class="color_pass">n1</span> y se iguala al número 5</span>                        
 <span id="code_4" class="desactivate">Se declara una variable llamada <span class="color_pass">mayor</span> y se iguala al valor de la variable <span class="color_pass">n1</span> (en este caso 6)</span>                        
 <span id="code_5" class="desactivate">La variable <span class="color_pass">mayor</span> se iguala al resultado que se obtenga de la siguiente validación</span>                        
 <span id="code_6" class="desactivate">Utilizando la sentencia <span class="color_pass">if</span> se valida si la variable <span class="color_pass">mayor</span> es menor a la variable <span class="color_pass">n2</span>, en este caso como mayor vale 6 y <span class="color_pass">n2</span> vale 9 entonces la condición se cumple (La variable <span class="color_pass">mayor</span> se actualiza entonces al valor de 9)</span>                        
 <span id="code_7" class="desactivate">La variable <span class="color_pass">mayor</span> se iguala al resultado que se obtenga de la siguiente validación</span>                        
 <span id="code_8" class="desactivate">Utilizando la sentencia <span class="color_pass">if</span> se valida si la variable <span class="color_pass">mayor</span> es menor a la variable <span class="color_pass">n3</span>, en este caso como mayor vale 9 y <span class="color_pass">n3</span> vale 5 entonces la condición NO se cumple (La variable <span class="color_pass">mayor</span> NO se actualiza)</span>                        
 <span id="code_9" class="desactivate">Por ultimo se muestra el valor que se tenga al momento de la variable <span class="color_pass">mayor</span></span>                        
                    </code>
                </pre>
                <pre id="result_code" class="desactivate">
                    <code class="language-vb">  val it = 9 : int
                    </code>
                </pre>
            </div>
        </div>
    </main>
{% endblock content %}


{% block scripts %}

<script>
    $(document).ready(function () {
        init_pass = 1
        init_max = 9

        $('#pass').on('click',(e)=>{
            e.preventDefault()
            $('#pass').toggle('explode')
            $('#next').toggle('explode')
            $('#explain').toggle('explode')
            $('#pass1').addClass('color_pass')
        })

        $('#next').on('click',(e) => {
            e.preventDefault()
            id_current = '#pass'+init_pass
            id_next = '#pass'+(init_pass+1)
            id_explain_current = "#code_"+init_pass
            id_explain_next = "#code_"+(init_pass+1)
            init_pass+=1
            // console.log(init_pass);
            if (init_pass == init_max){
                $("#result").toggle('')
                $("#next").toggle('')   
            }
            console.log(id_current);
            console.log(id_next);
            $(id_next).addClass("color_pass")
            $(id_current).removeClass("color_pass")

            $(id_explain_current).toggle('')
            $(id_explain_next).toggle('')
        })

        $('#result').on('click',(e) => {
            e.preventDefault()
            $('#result').toggle('')
            $('#explain_code_2').toggle('')
            $('#result_code').toggle('')
        })
    })
</script>
{% endblock scripts %}